.headerContainer{
    display: flex;
    flex-flow: row wrap;
    column-gap: 5px;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 5px #e8e8e8, 0px -10px 5px #e8e8e8;
}
.logoContainer{
    display: flex;
    align-items: center;
}
.otherMenuNavContainer{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.logoSizing{
    height: 40px;
}
.logoNameSizing{
    width: 120px;
}
.menuBarStyle{
    font-size: 30px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuBarStyle:hover{
    background-color: whitesmoke;
}
.headerIcons{
    color: #0C78A9;
    font-size: 20px;
    cursor: pointer;
}
.headerIcons:hover{
    color: #0b6c99;
}
.headerProfile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #EE1F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.red {
    border: 2px solid red;
}

.green {
    border: 2px solid green;
}

.black {
    border: 1px solid black;
}


.yellow {
    border: 2px solid yellow;
}