@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* FONT----FAMILY */
  --font-family-inter: Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-family-jost: "Jost", sans-serif ;
  --font-family-Playwrite: "Playwrite US Modern", cursive;

  /* LINE--HEIGHT */
  --line-height-16: 16px;
  --line-height-100: 30px;

  


  /* FONT----SIZE */
  --font-size-100: 18px;

  /* FONT---WEIGHT */
  --font-weight-400: 400;


  /* TEXT__COLOR */
  --bg-blue-500: #2B4257;
  --color-blue-600: #D4BDAC;
  --color-blue-700: #FFF1DB;
  --color-blue-800: #EF5A6F;
}



/* .bg-lightgray {
  background-color: lightgray;
}

.border-red {
  border: 2px solid red;
}

.border-green {
  border: 1px solid green;
}

.border-black {
  border: 1px solid black;
}

.border-magenta {
  border: 1px solid darkmagenta;
}

.border-blue {
  border: 1px solid blue;
}

.border-yellow {
  border: 3px solid yellow;
} */